In [73]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import datetime

api_key = "558e56b6dce2cececb94ac03459570d9"

In [74]:
starter_df = pd.read_csv('top_25_key.csv')
starter_df.head(20)

    rank_key                           metro
0          1               Boulder, Colorado
1          2          Santa Cruz, California
2          2         Watsonville, California
3          3       Charlottesville, Virginia
4          4          Fort Collins, Colorado
5          5     San Luis Obispo, California
6          6            San Jose, California
7          7                     Provo, Utah
8          8         Bridgeport, Connecticut
9          8           Stamford, Connecticut
10         8            Norwalk, Connecticut
11         9  Barnstable Town, Massachusetts
12        10               Anchorage, Alaska
13        11                 Naples, Florida
14        11              Immokalee, Florida
15        11           Marco Island, Florida
16        12         Santa Maria, California
17        12       Santa Barbara, California
18        13              Salina, California
19        14             North Port, Florida

In [75]:
cities = []
states = []

i = 0
for row in df.metro:
   #for every row append the city at index 0 and state at index 1
    cities.append(starter_df.metro.str.split(',')[i][0])
    states.append(starter_df.metro.str.split(',')[i][1])
    i += 1
cities

['Boulder',
 'Santa Cruz',
 'Watsonville',
 'Charlottesville',
 'Fort Collins',
 'San Luis Obispo',
 'San Jose',
 'Provo',
 'Bridgeport',
 'Stamford',
 'Norwalk',
 'Barnstable Town',
 'Anchorage',
 'Naples',
 'Immokalee',
 'Marco Island',
 'Santa Maria',
 'Santa Barbara',
 'Salina',
 'North Port',
 'Sarasota',
 'Bradenton',
 'Honolulu',
 'Ann Arbor',
 'San Francisco',
 'Oakland',
 'Hayward',
 'Colorado Springs',
 'Manchester',
 'Nashua',
 'Oxnard',
 'Thousand Oaks',
 'Ventura',
 'Washington',
 'Arlington',
 'Alexandria',
 'Minneapolis',
 'Saint Paul',
 'Bloomington',
 'San Diego',
 'Carlsbad',
 'Portland',
 'Austin']

In [94]:
namelist = []
cityidlist = []
latlist = []
templist = []
humidlist = []
cloudlist = []
windspeedlist = []
countrylist = []


#Then construct the URL
#make sure to use imperial
#start with a base
base_url = 'http://api.openweathermap.org/data/2.5/weather?units=imperial'

#then add your api key and create a unique url for every city in cities (list i created earlier)
#everything has to be in lists
#open weather api is as follows: http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=houston

x=0

for city in cities:
    
    if city == "Barnstable Town":
        query_url = base_url + '&appid=' + str(api_key) + '&q=Barnstable'
        response = requests.get(query_url)
        json_response = response.json()
        x = x + 1
        print('Retrieving Data for City #' + str(x) + ' of ' + str((len(cities))) + " | " + city +","+json_response['sys']['country'])
        namelist.append(json_response['name'])
        cityidlist.append(json_response['id'])
        latlist.append(json_response['coord']['lat'])
        templist.append(json_response['main']['temp_max'])
        humidlist.append(json_response['main']['humidity'])
        cloudlist.append(json_response['clouds']['all'])
        windspeedlist.append(json_response['wind']['speed'])
        countrylist.append(json_response['sys']['country'])
        
    else:
        try:
            query_url = base_url + '&appid=' + str(api_key) + '&q=' + str(city)
            response = requests.get(query_url)
            json_response = response.json()
            x = x + 1
            print('Retrieving Data for City #' + str(x) + ' of ' + str((len(cities))) + " | " + city +","+json_response['sys']['country'])
            namelist.append(json_response['name'])
            cityidlist.append(json_response['id'])
            latlist.append(json_response['coord']['lat'])
            templist.append(json_response['main']['temp_max'])
            humidlist.append(json_response['main']['humidity'])
            cloudlist.append(json_response['clouds']['all'])
            windspeedlist.append(json_response['wind']['speed'])
            countrylist.append(json_response['sys']['country'])
            print(query_url)
        except KeyError:
            namelist.append(np.nan)
            cityidlist.append(np.nan)
            latlist.append(np.nan)
            templist.append(np.nan)
            humidlist.append(np.nan)
            cloudlist.append(np.nan)
            windspeedlist.append(np.nan)
            countrylist.append(np.nan)
            x = x + 1
            print("City not Found, Moving on to next City...")
            continue

Retrieving Data for City #1 of 43 | Boulder,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Boulder
Retrieving Data for City #2 of 43 | Santa Cruz,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Santa Cruz
Retrieving Data for City #3 of 43 | Watsonville,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Watsonville
Retrieving Data for City #4 of 43 | Charlottesville,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Charlottesville
Retrieving Data for City #5 of 43 | Fort Collins,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Fort Collins
Retrieving Data for City #6 of 43 | San Luis Obispo,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=San Luis Obispo
Retrieving Data for City #7 of 43 | San Jose,PH
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=San Jose
Retrieving Data for City #8 of 43 | Provo,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Provo
Retrieving Data for City #9 of 43 | Bridgeport,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Bridgeport
Retrieving Data for City #10 of 43 | Stamford,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Stamford
Retrieving Data for City #11 of 43 | Norwalk,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Norwalk
Retrieving Data for City #12 of 43 | Barnstable Town,US
Retrieving Data for City #13 of 43 | Anchorage,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Anchorage
Retrieving Data for City #14 of 43 | Naples,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Naples
Retrieving Data for City #15 of 43 | Immokalee,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Immokalee
Retrieving Data for City #16 of 43 | Marco Island,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Marco Island
Retrieving Data for City #17 of 43 | Santa Maria,BR
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Santa Maria
Retrieving Data for City #18 of 43 | Santa Barbara,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Santa Barbara
Retrieving Data for City #19 of 43 | Salina,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Salina
Retrieving Data for City #20 of 43 | North Port,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=North Port
Retrieving Data for City #21 of 43 | Sarasota,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Sarasota
Retrieving Data for City #22 of 43 | Bradenton,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Bradenton
Retrieving Data for City #23 of 43 | Honolulu,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Honolulu
Retrieving Data for City #24 of 43 | Ann Arbor,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Ann Arbor
Retrieving Data for City #25 of 43 | San Francisco,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=San Francisco
Retrieving Data for City #26 of 43 | Oakland,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Oakland
Retrieving Data for City #27 of 43 | Hayward,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Hayward
Retrieving Data for City #28 of 43 | Colorado Springs,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Colorado Springs
Retrieving Data for City #29 of 43 | Manchester,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Manchester
Retrieving Data for City #30 of 43 | Nashua,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Nashua
Retrieving Data for City #31 of 43 | Oxnard,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Oxnard
Retrieving Data for City #32 of 43 | Thousand Oaks,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Thousand Oaks
Retrieving Data for City #33 of 43 | Ventura,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Ventura
Retrieving Data for City #34 of 43 | Washington,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Washington
Retrieving Data for City #35 of 43 | Arlington,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Arlington
Retrieving Data for City #36 of 43 | Alexandria,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Alexandria
Retrieving Data for City #37 of 43 | Minneapolis,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Minneapolis
Retrieving Data for City #38 of 43 | Saint Paul,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Saint Paul
Retrieving Data for City #39 of 43 | Bloomington,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Bloomington
Retrieving Data for City #40 of 43 | San Diego,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=San Diego
Retrieving Data for City #41 of 43 | Carlsbad,CZ
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Carlsbad
Retrieving Data for City #42 of 43 | Portland,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Portland
Retrieving Data for City #43 of 43 | Austin,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Austin

In [60]:
# Convert retrieved lists to a dictionary first and then to a dataframe
# formatting for creating a dictionary is       variable_name = {"Key": value, "Key": value, etc}

weather_dict = {"Name": namelist,
               "Country_id": cityidlist,
                "Country": countrylist,
                "Cloudiness (%)": cloudlist,
                "Max Temperature (F)": templist,
                "Latitude (Deg)": latlist,
                "Humidity (%)": humidlist,
                "Wind Speed (mph)": windspeedlist
               }

#create the dataframe from the dictionary
#format is vairable_name = pd.DataFrame(name of dictionary)
weather_df = pd.DataFrame(weather_dict)

#Drop the Nan Values
weather_df = weather_df.dropna(how='any')

weather_df.head(50)

,Name,Country_id,Country,Cloudiness (%),Max Temperature (F),Latitude (Deg),Humidity (%),Wind Speed (mph)
0,Boulder,5574991,US,1,41.00,40.02,69,9.17
1,Santa Cruz,5393052,US,1,59.00,36.97,77,3.27
2,Watsonville,5407529,US,1,60.80,36.91,77,3.27
3,Charlottesville,4752031,US,90,39.02,38.03,100,11.41
4,Fort Collins,5577147,US,1,40.10,40.55,53,6.93
5,San Luis Obispo,5392323,US,1,64.04,35.28,49,3.94
6,San Jose,1689431,PH,76,70.13,15.79,98,2.93
7,Provo,5780026,US,90,36.50,40.23,69,5.82
8,Bridgeport,5282804,US,90,37.94,41.17,56,9.17
9,Stamford,4843564,US,90,37.94,41.05,49,9.17
10,Norwalk,5377995,US,20,69.98,33.91,71,2.93
11,Barnstable,4929771,US,90,33.98,41.70,69,8.05
12,Anchorage,5879400,US,40,8.96,61.22,92,5.06
13,Naples,4165565,US,1,80.60,26.14,48,19.46
14,Immokalee,4159553,US,40,80.60,26.42,44,13.87
15,Marco Island,4163384,US,1,80.60,25.94,60,16.11
16,Santa Maria,3450083,BR,75,73.40,-29.69,73,10.29
17,Santa Barbara,5392952,US,1,66.92,34.42,87,4.27
18,Salina,4550364,US,90,24.08,36.29,85,17.22
19,North Port,4166274,US,1,78.08,27.04,61,16.11
20,Sarasota,4172131,US,20,77.00,27.34,57,21.92
21,Bradenton,4148708,US,20,78.80,27.50,57,21.92
22,Honolulu,5856195,US,20,73.94,21.30,73,9.17
23,Ann Arbor,4984247,US,90,22.64,42.27,91,12.75
24,San Francisco,5391959,US,75,61.70,37.78,74,3.36
25,Oakland,5378538,US,75,61.70,37.80,74,4.16
26,Hayward,5355933,US,75,61.70,37.67,69,3.36
27,Colorado Springs,5417598,US,1,42.80,38.83,51,5.82
28,Manchester,5089178,US,90,30.02,43.00,48,3.36
29,Nashua,5090046,US,90,32.00,42.77,48,3.36
30,Oxnard,5380184,US,40,69.98,34.20,56,3.36
31,Thousand Oaks,5402405,US,40,71.06,34.17,56,3.36
32,Ventura,5405878,US,1,66.92,34.28,50,6.93
33,Washington DC.,4366164,US,90,39.20,38.90,75,6.93
34,Arlington,4744709,US,90,39.20,38.89,75,6.93
35,Alexandria,4314550,US,90,53.60,31.31,73,18.34
36,Minneapolis,5037649,US,1,8.60,44.98,48,10.29
37,Saint Paul,5045360,US,1,10.40,44.95,54,6.93
38,Bloomington,4885164,US,90,29.12,40.47,92,28.86
39,San Diego,5391811,US,20,69.08,32.72,58,4.70
40,Carlsbad,3339539,CZ,0,24.80,50.23,92,3.36
41,Portland,5746545,US,90,48.02,45.52,88,3.36
42,Austin,4671654,US,1,55.94,30.27,39,12.75

In [77]:
#Convert this dataframe to a csv and put in in the Output folder
#Format is dfname.to_csv("folder/filename.csv", index=False)
weather_df.to_csv('top_25_weather.csv', index=False)

In [93]:

s = "18/01/2018"
start_unix = time.mktime(datetime.datetime.strptime(s, "%d/%m/%Y").timetuple())
e = "18/01/2019"
end_unix = time.mktime(datetime.datetime.strptime(e, "%d/%m/%Y").timetuple())
end_unix

1547794800.0

In [ ]:
end_time = "01/18/2019"
end_unix = time.mktime(datetime.datetime.strptime(end_time, "%d/%m/%Y").timetuple())

In [ ]:
namelist = []
cityidlist = []
latlist = []
templist = []
humidlist = []
cloudlist = []
windspeedlist = []
countrylist = []


#Then construct the URL
#make sure to use imperial
#start with a base
base_url = 'http://history.openweathermap.org/data/2.5/history/accumulated_precipitation?id={city ID}&start={start}&end={end}'

#then add your api key and create a unique url for every city in cities (list i created earlier)
#everything has to be in lists
#open weather api is as follows: http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=houston

x=0

for city in cities:
    
    if city == "Barnstable Town":
        query_url = base_url + '&appid=' + str(api_key) + '&q=Barnstable'
        response = requests.get(query_url)
        json_response = response.json()
        x = x + 1
        print('Retrieving Data for City #' + str(x) + ' of ' + str((len(cities))) + " | " + city +","+json_response['sys']['country'])
        namelist.append(json_response['name'])
        cityidlist.append(json_response['id'])
        latlist.append(json_response['coord']['lat'])
        templist.append(json_response['main']['temp_max'])
        humidlist.append(json_response['main']['humidity'])
        cloudlist.append(json_response['clouds']['all'])
        windspeedlist.append(json_response['wind']['speed'])
        countrylist.append(json_response['sys']['country'])
        
    else:
        try:
            query_url = base_url + '&appid=' + str(api_key) + '&q=' + str(city)
            response = requests.get(query_url)
            json_response = response.json()
            x = x + 1
            print('Retrieving Data for City #' + str(x) + ' of ' + str((len(cities))) + " | " + city +","+json_response['sys']['country'])
            namelist.append(json_response['name'])
            cityidlist.append(json_response['id'])
            latlist.append(json_response['coord']['lat'])
            templist.append(json_response['main']['temp_max'])
            humidlist.append(json_response['main']['humidity'])
            cloudlist.append(json_response['clouds']['all'])
            windspeedlist.append(json_response['wind']['speed'])
            countrylist.append(json_response['sys']['country'])
        except KeyError:
            namelist.append(np.nan)
            cityidlist.append(np.nan)
            latlist.append(np.nan)
            templist.append(np.nan)
            humidlist.append(np.nan)
            cloudlist.append(np.nan)
            windspeedlist.append(np.nan)
            countrylist.append(np.nan)
            x = x + 1
            print("City not Found, Moving on to next City...")
            continue